   *{
    padding: 0;
    margin: 5px;
    text-align: center;
    }
    h1{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 50px;
      padding-right: 500px;
    }
    
    body {
    background-color:rgb(50, 156, 205);
    padding-left: 480px;
    
    }
    .calculadora {
    width: 350px;
    height: 320px;
    background-color: rgb(205, 190, 50);
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;

    }
    
    #display {
    width: 320px;
    height: 40px;
    text-align: right;
    background-color: black;
    border: 3px solid white;
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #7fff00;
    }
    .botãoTopo{
    color: white;
    background-color: #6f6f6f;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    }
    .botãoNumérico {
    color: white;
    background-color: black;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    }
    .botãoMatématica {
    color: white;
    background-color: #ff4561;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    }
    .botãoOperações {
    color: white;
    background-color: #ff9933;
    font-size: 14px;
    margin: auto;
    width: 100px;
    height: 25px;
    }